.container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
  }
  
  .content {
    margin-top: 10px;
  }
  .message {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }

  /* Estilos para el formulario */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Estilos para la lista de datos del cliente */
.cliente-details {
  list-style-type: none;
  padding: 0;
}

.cliente-details li {
  margin-bottom: 10px;
}

.cliente-details li label {
  font-weight: bold;
  display: inline-block;
  width: 150px; /* Ajusta el ancho según sea necesario */
}


/* Estilos para los campos del formulario */
form div {
  margin-bottom: 10px;
}

/* Estilos para el botón */
button {
  background-color: #4CAF50; /* Color de fondo verde */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el mensaje de confirmación */
.success-message {
  margin-top: 10px;
  padding: 10px;
  background-color: #d4edda; /* Color de fondo verde claro */
  color: #155724; /* Color de texto verde oscuro */
  border: 1px solid #c3e6cb; /* Borde verde claro */
  border-radius: 5px;
}

button[disabled] {
  background-color: #ccc; /* Color de fondo gris claro */
  color: #999; /* Color de texto gris */
  cursor: not-allowed; /* Cambia el cursor a "no permitido" */
  opacity: 0.7; /* Opacidad reducida */
}

  
  